HEROKU_DB_NAME=a_heroku_db_name
SCHEMA_NAME=a_schema_name
DB_PROTOCOL=a_db_protocol_name
DB_HOST=a_db_host
DB_PORT=a_db_port
DB_NAME=a_db_name
DB_USER=a_db_user
DB_PASSWORD=a_db_password
DATABASE_URL=${DB_PROTOCOL}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
DATABASE_URL_WITH_SCHEMA=${DATABASE_URL}?schema=${SCHEMA_NAME}